<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Message</display-name>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/List.action</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>InitTalkServlet</servlet-name>
     <servlet-class>com.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InitTalkServlet</servlet-name>
      <url-pattern>/InitTalk.action</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>AutoReplyServlet</servlet-name>
     <servlet-class>com.servlet.AutoReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>AutoReplyServlet</servlet-name>
     <url-pattern>/AutoReply.action</url-pattern>
  </servlet-mapping>
</web-app>